<%- include('partials/_header.ejs') %>

  <div class="container">
    <main>
      <div class="py-3 text-center">
        <h2>Edit an Existing Policy</h2>
        <p class="lead">Below is a form built to edit an existing policy.</p>
      </div>
      <div>
        <form action="/edit/<%= text._id %>" method="post">
          <div class="col-md-5">
            <label for="system" class="form-label">System Type</label>
            <select class="form-select" name="system" id="system" required>
              <option value="<%=text.system%>">
                <%=text.system%>
              </option>
              <option>Windows</option>
              <option>Unix</option>
              <option>Oracle</option>
              <option>SAP</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid System Type
            </div>

            <label for="policies" class="p-2 form-label">Policies Type</label>
            <select class="form-select" name="policies" id="policies" required>
              <option value="<%=text.policies%>">
                <%=text.policies%>
              </option>
              <option>Accounts</option>
              <option>Local settings</option>
              <option>Event Log</option>
              <option>System Services</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid Policies Type
            </div>

            <label for="policy" class="p-2 form-label">Policy Type</label>
            <select class="form-select" name="policy" id="policy" required>
              <option value="<%=text.policy%>">
                <%=text.policy%>
              </option>
              <option>Password Policy</option>
              <option>Account Lockout Policy</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid Policy Type
            </div>
          </div>

          <div class="col-12">
            <label for="requirement" class="p-2 form-label">Control Requirement</label>
            <input type="text" class="form-control" name="requirement" id="requirement" value="<%=text.requirement%>"
              placeholder="Ensure Enforce ..." required>
            <div class="invalid-feedback">
              Please enter Control Requirement.
            </div>
          </div>

          <div class="col-12">
            <label for="description" class="py-2 form-label">Description <span
                class="text-muted">(Optional)</span></label>
            <input type="text" class="form-control" name="description" value="<%=text.description%>" id="description"
              placeholder="This policy setting...">
          </div>

          <div class="col-md-3">
            <label for="value" class="p-2 form-label">Recommended Value</label>
            <input type="text" class="form-control" name="value" id="value" value="<%=text.value%>" placeholder=""
              required>
            <div class="invalid-feedback">
              Recommended Value required.
            </div>
          </div>
      </div>

      <div class="col-sm-6">
        <label for="scan" class="p-2 form-label">Scan command</label>
        <input type="text" class="form-control" name="scan" id="scan" value="<%=text.scan%>"
          placeholder="scan command ..." required>
        <div class="invalid-feedback">
          Please enter valid scan command.
        </div>
      </div>

      <div class="col-sm-6">
        <label for="remediate" class="p-2 form-label">Remediation command</label>
        <input type="text" class="form-control" name="remediate" id="remediate" value="<%=text.remediate%>"
          placeholder="Remediation command ..." required>
        <div class="invalid-feedback">
          Please enter valid Remediation command.
        </div>
      </div>


      <hr class="my-4">

      <div class="form-group">
        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
        <a href="/policies" class="btn btn-lg btn-danger" type="button">Cancel</a>
      </div>
      </form>
  </div>
  </div>
  </main>

  <%- include('partials/_footer.ejs') %>